<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Link to your CSS files -->
  <link rel="stylesheet" href="/Public/style.css">
  <link rel="stylesheet" href="/Public/mediaqueries.css">

  <!-- Add your CSS styling for the "about" section -->
</head>







<body>

<nav id="desktop-nav">
    <div class="logo">Hella Ogobene</div>
    <div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contacts</a></li>
        </ul>
    </div>
</nav>
<nav id="hamburger-nav">
    <div class="logo"> Hella Ogobene</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-links">
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
            <li><a href="#skills" onclick="toggleMenu()">Skills</a></li>
            <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
            <li><a href="#contact" onclick="toggleMenu()">Contacts</a></li>
        </div>
    </div>
</nav>
</body>
</html>