<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Link to your CSS files -->
  <link rel="stylesheet" href="/Public/style.css">
  <link rel="stylesheet" href="/Public/mediaqueries.css">

  <!-- Add your CSS styling for the "about" section -->
</head>



<body>
    <section id="profile">
        <div class="section_pic_container">
            <img src="/assets/F3FA8211-8D1E-410C-A9E6-F8794812F19F.jpeg" alt="hella's picture"/>
        </div>
        <!-- Rest of the profile section content -->
    </section>
    
</body>
</html>
